<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta name="viewport" content="width=device-width" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>New message from Tiledesk</title>

  <style type="text/css">
    /* Aggiungi qui gli stili CSS */
  </style>
</head>

<body style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing: border-box; font-size: 14px; margin: 0; background-color: #e2e7e9; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; width: 100% !important; height: 100%; line-height: 1.6em; padding: 30px 0px;">

  <table cellpadding="0" cellspacing="0" width="100%">
    <tr>
      <td align="center" valign="top">
        <table cellpadding="0" cellspacing="0" width="600" style="background-color: #fff; border-radius: 8px;">
          <tr>
            <td style="padding: 0px 30px;">
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td style="text-align: center;">
                    <img src="https://img.freepik.com/vettori-premium/illustrazione-di-progettazione-del-pacchetto-piatto-di-finanza_205077-4142.jpg?w=2000" alt="Header Image" style="width: 100%; max-height: 250px; border-radius: 8px;" />
                  </td>
                </tr>
                <tr>
                  <td style="text-align: center;">
                    <h1 style="color: #333;">Update on monthly resources usage</h1>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 10px 30px;">
                    <p>Dear {{firstname}},</p>
                    <p>This is to inform you that you reached the <b>{{checkpoint}}%</b> of your monthly quote for <b>{{resource_name}}</b> on your project <b>{{project_name}}</b>.</p>
                    <p>Below is a summary of the monthly resource usage:</p>
                    <table cellpadding="0" cellspacing="0" width="100%" style="border-collapse: collapse; margin-bottom: 20px; text-align: center;">
                      <tr>
                        <th style="border: 1px solid #ddd; padding: 8px;">Resource</th>
                        <th style="border: 1px solid #ddd; padding: 8px;">Quota</th>
                        <th style="border: 1px solid #ddd; padding: 8px;">Usage</th>
                      </tr>
                      <tr>
                        <td style="border: 1px solid #ddd; padding: 8px;">Conversations</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{requests_quote}}</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{requests_perc}}%</td>
                      </tr>
                      <tr>
                        <td style="border: 1px solid #ddd; padding: 8px;">AI Tokens</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{tokens_quote}}</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{tokens_perc}}%</td>
                      </tr>
                      <tr>
                        <td style="border: 1px solid #ddd; padding: 8px;">Chatbot Email</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{email_quote}}</td>
                        <td style="border: 1px solid #ddd; padding: 8px;">{{email_perc}}%</td>
                      </tr>
                    </table>
                    <p style="text-align: center; font-size: 14px; color: #777;">This is an automated message. Please do not reply.</p>
                    <div style="text-align: center; margin-top: 20px; padding: 20px;">
                      <img src="https://tiledesk.com/wp-content/uploads/2023/10/tiledesk-logo.png" alt="Company Footer Logo" style="max-width: 160px;" />
                    </div>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td align="center" valign="top" style="padding-top: 20px;">
        <table cellpadding="0" cellspacing="0" width="600">
          <tr>
            <td style="text-align: center; padding: 6px;">
              <a href="http://www.tiledesk.com" style="font-size: 16px; font-weight: 500; color: #3c3c3c; text-decoration: none; margin: 0; margin-bottom: 10px;">Tiledesk.com</a><br />
            </td>
          </tr>
          <tr>
            <td style="text-align: center; padding: 6px;">
              <a href="%unsubscribe_url%" style="font-size: 16px; font-weight: 500; color: #3c3c3c; text-decoration: none; margin: 0; margin-bottom: 10px;">Unsubscribe</a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>
