# Global properties:
# See https://developer.tiledesk.com/ for more information regarding these properties.

#PORT=3000 
#Default is 3000

#ADMIN_EMAIL=your_admin_email
#Default is: admin@tiledesk.com

#ADMIN_PASSWORD=your_password;
#Default is: adminadmin

#SUPER_PASSWORD=TILEDESK_SUPER_ADMIN_PASSWORD 
#Default is: nodeauthsecret

#CREATE_INITIAL_DATA=false

## Database

#MONGODB_URI=YOUR_MONGO_URI
#Default is : mongodb://localhost/tiledesk

#MONGODB_LOGS_URI=YOUR_MONGO_URI_FOR_LOGGING
#Default is : mongodb://localhost/tiledesk-logs

## Email

#EMAIL_ENABLED=true
#Default is false

#EMAIL_BASEURL=https://YOOURDOMAIN.com/dashboard
#Default is : https://console.tiledesk.com/dashboard

#EMAIL_HOST=YOUR_EMAIL_HOST
#EMAIL_USERNAME=YOUR_EMAIL_USERNAME
#EMAIL_SECURE=true #defaults to 587 if is secure is false or 465 if true
#EMAIL_PORT=25
#EMAIL_PASSWORD=YOUR_SMTP_PASSWORD
#EMAIL_FROM_ADDRESS=FROM_ADDRESS

#DISABLE_TRANSCRIPT_VIEW_PAGE=true
#Disable view transcript messages using request_id field. Pay attention to security for this feature. Default is false

# Chat21 channel. ATTENTION!!!! THESE PROPERTIES MUST BE CONFIGURED.

# important
#FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\***************\n-----END PRIVATE KEY-----\n
#FIREBASE_CLIENT_EMAIL=firebase-adminsdk-******@************.iam.gserviceaccount.com
#FIREBASE_PROJECT_ID=CHANGEIT

#<- YOU MUST ENABLE THIS PROPERTY
# important
#CHAT21_ENABLED=true
#CHAT21_URL=https://CHANGEIT.cloudfunctions.net


#WS_URL=ws://localhost:3000/
# WebSocket endpoint.

# optional properties for tiledesk-server docker installation but required for docker-compose used by clients (dashboard, ionic, widget)
# important
#FIREBASE_APIKEY=CHANGEIT
#FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
#FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
#FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
#FIREBASE_MESSAGINGSENDERID=********


# optional properties
#CHAT21_APPID=tilechat
#Default is tilechat

#CHAT21_ADMIN_TOKEN=CHANGEIT
#Default is: chat21-secret-orgAa,


## Widget settings

# important
WIDGET_LOCATION=http://localhost:4200/launch.js
#Default is http://localhost:4200/

WIDGET_TEST_LOCATION=http://localhost:4200/assets/test_widget_page/index.html


#WS_HISTORY_REQUESTS_LIMIT=50
#Default is 100


#WS_SERVER_PATH=/v2/ws
#Default is /


# Enterprise modules

#ENABLE_ENTERPRISE_MODULE=true

#NPM_TOKEN=XXXX
#Enable enterprise module with npm private token
