# Global properties:
# See https://developer.tiledesk.com/ for more information regarding these properties.

#PORT #Default is 3000
#SUPER_PASSWORD=TILEDESK_SUPER_ADMIN_PASSWORD #Default is: nodeauthsecret

## Database
#MONGODB_URI=YOUR_MONGO_URI #Default is : mongodb://localhost/tiledesk
#MONGODB_LOGS_URI=YOUR_MONGO_URI_FOR_LOGGING #Default is : mongodb://localhost/tiledesk-logs

## Widget
#WIDGET_LOCATION=htts://YOUR_WIDGET_ENDPOINT_HERE #Default is http://localhost:4200/

## Email
#EMAIL_BASEURL=https://YOOURDOMAIN.com/dashboard #Default is : https://support.tiledesk.com/dashboard
#EMAIL_PASSWORD=YOUR_SMTP_PASSWORD
#DISABLE_TRANSCRIPT_VIEW_PAGE=true #Disable view transcript messages using request_id field. Pay attention to security for this feature. Default is false

# Required properties for chat21 channel

FIREBASE_PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\***************\n-----END PRIVATE KEY-----\n
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-******@************.iam.gserviceaccount.com
FIREBASE_PROJECT_ID=CHANGEIT

FIREBASE_APIKEY=CHANGEIT
FIREBASE_AUTHDOMAIN=CHANGEIT.firebaseapp.com
FIREBASE_DATABASEURL=https://CHANGEIT.firebaseio.com
FIREBASE_STORAGEBUCKET=CHANGEIT.appspot.com
FIREBASE_MESSAGINGSENDERID=********

CHAT21_ENABLED=true
CHAT21_URL=https://CHANGEIT.cloudfunctions.net
CHAT21_APPID=tilechat
CHAT21_ADMIN_TOKEN=CHANGEIT #Default is: chat21-secret-orgAa,

