doctype html
html
  head
    style(type="text/css").
      body{
        background-color: #eeeeee;
      }
      input {
        width: 100%;
      }     
    
      img{
        width: 200px;
      }     
      a{
        color:#00B7FF
      }
    title= "tiledesk chat transcript"
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
