extends layout

block content
  div(class="transcript-container")
    img.className#IdName(src="https://tiledesk.com/wp-content/uploads/2022/07/tiledesk_v2.png" alt="tiledesk logo") 
      
    div(class="transcript-wrapper")
      h1(class="transcript-title") Chat Transcript


      each message in messages
        p(class="transcript-p") 
          span(class="transcript-chat-date") [#{message.createdAt.toLocaleString('en', { timeZone: 'UTC' })}] 
          span(class="transcript-chat-sender") #{message.senderFullname}: 
          span(class="transcript-chat-msg") #{message.text}
      
    p(class="transcript-powered-by")  Powered by   
      a(href="https://tiledesk.com/", target="_blank") tiledesk


