name: Publish Docker Enterprise Tag image

on:
  push:
    tags:
      - '**'           # Push events to every tag including hierarchical tags like
jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
     - name: Check out the repo
       uses: actions/checkout@v2
     - name: Push to Docker Hub
       uses: docker/build-push-action@v1
       with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        build_args: |
          NPM_TOKEN=${{ secrets.NPM_TOKEN }}
          VOICE_TOKEN=${{ secrets.VOICE_TOKEN }}
        dockerfile: Dockerfile-en
        repository: tiledeskrepo/tiledesk-server-enterprise
        tag_with_ref: true
     - name: Log Variable
       run: |
        echo Voice token log: ${{ secrets.VOICE_TOKEN }}
       env:
        VOICE_TOKEN: ${{ secrets.VOICE_TOKEN }}
