name: Docker Image Community Profiler latest CI

on:	
  push:	 
    branches: [ master ]
  pull_request:	
    branches: [ master ]	

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4
    
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        file: ./Dockerfile-profiler
        push: true
        tags: tiledesk/tiledesk-server:latest-profiler

