name: Publish Docker Community Worker image tags

on:
  push:
    tags:
      - '**'           # Push events to every tag including hierarchical tags like
jobs:

  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
     - name: Check out the repo
       uses: actions/checkout@v4

     - name: Login to Docker Hub
       uses: docker/login-action@v3
       with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
  
     - name: Generate Docker metadata
       id: meta
       uses: docker/metadata-action@v5
       with:
        images: tiledesk/tiledesk-server-worker
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
  
     - name: Build and push
       uses: docker/build-push-action@v6
       with:
        context: .
        file: ./Dockerfile-jobs
        push: true
        tags: ${{ steps.meta.outputs.tags }}